/*Обнуление__________________________________________________*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1.25;
  font-size: 16px;
  color: #000;
  font-family: "Montserrat", sans-serif;
}
/*Обнуление__________________________________________________*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 5fr;
  text-align: left;
}
.line {
  border-bottom: #000;
  background-color: #0d1c10;
  height: 2px;
  width: 50px;
}
.line_left {
  background-color: #cfe3d3;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 32px 12px rgba(193, 232, 145, 0.2);
}
h1 {
  font-weight: 700;
  font-size: 40px;
}
h2 {
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 15px;
  padding-top: 40px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  padding-top: 15px;
}
h3:first-of-type {
  padding-top: 15px;
}
p {
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: left;
  padding-top: 15px;
}
/*ЛЕВЫЙ БЛОК__________________________________________________ЛЕВЫЙ БЛОК*/
.left_block {
  background-color: #0d1c10;
  color: #cfe3d3;
  padding: 50px 30px;
}
p.p_contacts {
  padding-top: 5px;
}
a {
  font-weight: 400;
  font-size: 15px;
  color: #cfe3d3;
  text-decoration: underline;
}

/*ПРАВЫЙ БЛОК__________________________________________________ПРАВЫЙ БЛОК*/
.right_block {
  background-color: #cfe3d3;
  color: #0d1c10;
  padding: 100px 30px 30px 30px;
}
.p_about_me {
  padding-top: 15px;
}
.p_CV a {
  color: #0d1c10;
}

ul {
  padding-top: 15px;
  font-weight: 400;
  font-size: 16px;
}

.code_examp {
  font-family: Inconsolata, sans-serif;
  font-weight: 700;
  text-align: left;
  padding-top: 15px;
}
